<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Prueba de Layout</title>
  <link rel="stylesheet" type="text/css" href="prueba.css">
</head>
<body>
  <header>
    <div class="logotipo">
      <img src="pato.jpg" width="100" alt="pato">
    </div>
    <nav>
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Articulos</a></li>
        <li><a href="#">Productos</a></li>
        <li><a href="#">Servicios</a></li>
      </ul>
    </nav>
  </header>
  <section class="main">
    <section class="articles">
      <article>
        <h2>Titulo del artículo</h2>
        <p>Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur </p>
      </article>
      <article>
        <h2>Titulo del artículo</h2>
        <p>Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur </p>
      </article>
    </section>
    <aside>
      <h3>Sidebar</h3>
      <p>Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur </p>
    </aside>
  </section>
  <footer>
    <p> (C) Todos los derechos reservados. </p>
  </footer>
</body>
</html>