<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Layout</title>
  <link rel="stylesheet" type="text/css" href="layout.css">
</head>
<body>
  <header>
    <div class="logotipo">
      <img src="pato.jpg" width="100" alt="pato">
    </div>
    <nav>
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Acerva de</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </nav>
  </header>

  <section class="main">
    <section class="articles">
      <article>
        <h2>Este es el titulo de mi sitio web</h2>
        <p>Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur </p>
      </article>
      <article>
        <h2>Este es el titulo de mi sitio web</h2>
        <p>Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur </p>
      </article>
    </section>
    <aside>
      <h3>Este es mi Sidebar</h3>
      <p>Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur Lorem ipsum dolor sit amet, consecteur </p>
    </aside>
  </section>

  <footer>
    <p> (C) Todos los derechos reservados.</p>
  </footer>
</body>
</html>