/* Es la unidad que se le pone a una propiedad para que tenga un valor,
las unidades absoluta nos permite colocar un valor abosulto que no se modifica para nada y las relativas son flexibles porque se adapta mas fácilmente a nuestro trabajo y se puede acer cosas mejores con ellas */

body{
	font-size:16px; /* Relativa */
}

div {
	font-size: 20px; /* Valor de su elemento padre */
}

div p {
	font-size: 1rem;
}

div {
	background: #000;
	color: #fff;
	/*width: 100px;*/
	width: 100%;
}

/*
body{
	font-size:16cm; /* Abosultas 
}

body{
	font-size:16mm; /* Abosultas 
}

body{
	font-size:16in; /* Pulgadas is Abosultas 
}


div{
	font-size:10px;
}

div p{
	font-size:1em; /* Relativa design responsive
}

div {
	font-size:10px;
}

div p{
	font-size:2rem; /* Relativa 
}

div{
	background:#000;
	color:#fff;
	/*width:100px;
	width:50%;
}
*/

h1{
	color:aqua;
	background:rgba(1,69,79,.8);
}